@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgb(149, 149, 149);
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}

	:-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: transparent;
	}

	::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: #00000000;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply transition-colors duration-300 ease-in-out bg-[#c4c4c4] dark:bg-[#292929];
	}
	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent),
			linear-gradient(#fff, #fff);
		background-size: 0 100px;
		padding: 5px 10px;
		border-radius: 100px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size 0.5s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent),
			linear-gradient(#009485, #94ffc5);
	}
	.link-underline-white {
		background-image: linear-gradient(transparent, transparent),
			linear-gradient(#26e5d2, #00fe72, #26e5d2);
	}
	.link-active {
		background-image: linear-gradient(transparent, transparent),
			linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	}

	.link-active-white {
		background-image: linear-gradient(transparent, transparent),
			linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	}

	.link-underline:hover {
		background-position: 0 100%;
		background-size: 100% 100px;
	}
	.translate-left {
		transform: translateX(-63%);
	}
	.translate-right {
		transform: translateX(63%);
	}
	.themeSwitcher {
		@apply relative rounded-full transition-all duration-500 ease-in-out w-20 bg-transparent
     from-transparent to-transparent border-2 dark:border-[#858585] border-black inline-flex items-center justify-center whitespace-nowrap  text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2;
	}
	.text-hero {
		font-size: clamp(3rem, 16vmin, 20rem);
	}

	.text-hero-sm {
		font-size: clamp(3rem, 14vmin, 20rem);
	}
	@keyframes bounce {
		0% {
			transform: translateY(0px);
			scale: 1;
		}
		50% {
			transform: translateY(0px);
			scale: 1.1;
		}

		100% {
			transform: translateY(0px);
			scale: 1;
		}
	}
	.text-bounce {
		animation: bounce 0.51s ease-in-out;
	}

	.text-stroke-dark:hover {
		-webkit-text-stroke: 2px rgb(216, 216, 216);
	}
	.text-stroke-light:hover {
		-webkit-text-stroke: 2px black;
	}
	.text-shadow-light {
		text-shadow: 10px 0px 0px black;
	}
	.text-shadow-dark {
		text-shadow: 10px 0px 0px rgb(216, 216, 216);
	}
	.text-shadow-light-sm {
		text-shadow: 5px 0px 0px black;
	}
	.text-shadow-dark-sm {
		text-shadow: 5px 0px 0px rgb(216, 216, 216);
	}
	.text-shadow-none:hover {
		text-shadow: none;
	}
}
